@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&family=Shadows+Into+Light&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    html{
        font-size: responsive;
        font-family: Jura;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        font-family: Jura;
    }
    h1 {
        @apply text-6xl;

    }

    h2{
        @apply text-5xl;


    }

    h3 {
        @apply text-4xl;

    }

    h4 {
        @apply text-3xl;

    }

    h5 {
        @apply text-2xl;

    }

    h6 {
        @apply text-lg;
    }
}
